{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/home.css')}}">
{% endblock stylesheets %}
{% block musee_body %}
    <div class="container-fluid">
        {% for message in app.flashes('notice') %}
        <div class="flash-notice col-md-12 mt-4">
            <div class="jumbotron">{{ message }}</div>
        </div>
        {% endfor %}                
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12 landing d-flex justify-content-end align-items-center">
                <h1 class="text-right text-uppercase">Musée du louvre</h1>
            </div>
            <div class="col-md-5">
                <div class="row clic">
                    <div class="col-md-12 col-sm-12 col-xs-12 billetterie d-flex flex-column justify-content-center align-items-center">
                        <a href="{{path('reservation')}}">
                            <hr>
                            <h3 class="text-center">Billetterie</h3>
                            <hr>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 infos d-flex flex-column justify-content-center align-items-center">
                        <a href="{{path('infos')}}">
                            <hr>
                            <h3 class="text-center">Infos Pratiques</h3>
                            <hr>
                        </a>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 contact d-flex flex-column justify-content-center align-items-center">
                        <a href="#">
                            <hr>
                            <h3 class="text-center">Contact</h3>
                            <hr>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {{ parent() }}
    </div>
{% endblock musee_body %}
