{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/home.css')}}">
{% endblock stylesheets %}
{% block musee_body %}
    <div class="container-fluid">
        <div class="row row-bienvenue">
            <div class="col-md-7" id="joconde">
                <div class="row">
                    <div class="col-md-12" id="contenue-bienvenue">
                        <div>
                            <h3>Bienvenue au</h3>
                            <h1>Musée<br>du<br>Louvre</h1>
                            {% for message in app.flashes('notice') %}
                            <div class="flash-notice col-md-12">
                                <p class="btn btn-success">{{ message }}</p>
                            </div>
                            {% endfor %}                
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6 infos-contact">
                        <div class="row">
                            <div class="infos col-md-12">
                                <a href="{{path('infos')}}">
                                    <h1>Infos<br>Pratiques</h1>
                                </a>
                            </div>
                            <div class="contact col-md-12"> 
                                <a href="">
                                    <h1>Contact</h1>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 billeterie">
                        <a href="{{path('reservation')}}">
                        <h1>Billeterie</h1>
                        </a>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12 evenements">
                        <a href="">
                            <h1>Les prochains évènements</h1>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock musee_body %}