{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/home.css')}}">
{% endblock stylesheets %}
{% block musee_body %}
    <div class="container-fluid">

        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                <p class="btn btn-success">{{ message }}</p>
            </div>
        {% endfor %}

        <div class="row row-bienvenue">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6" id="contenue-bienvenue">
                        <div>
                            <h3>Bienvenue au</h3>
                            <h1>Musée du Louvre</h1>
                        </div>
                    </div>
                    <div class="col-md-6" id="joconde">
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div class="row infos-contact">
                    <div class="col-md-6 infos">
                        <a href="{{path('infos')}}">
                        <p>Infos<br>Pratiques</p>
                        </a>
                    </div>
                    <div class="col-md-6 contact"> 
                        <a href="">
                        <p>Contact</p>
                        </a>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12 billeterie">
                        <a href="{{path('reservation')}}">
                        <p>Billeterie</p>
                        </a>
                    </div>
                    <div class="col-md-12 evenements">
                        <a href="">
                            <p>Les prochains évènements</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>Nouveau Contenu</h1>
            </div>
        </div>
      
    </div>
{% endblock musee_body %}