{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('css/home.css')}}">
{% endblock stylesheets %}
{% block musee_body %}
    <div class="container-fluid">

        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        
        <div class="row row-bienvenue">
            <div class="col-md-6 block-center bloc-bienvenue" id="titre">

                <h3>Bienvenue au</h3>
                <h1>Musée du Louvre</h1>
                <a href="{{path('reservation')}}" class="btn btn-light">Acheter un billet</a>
            </div>

            <div class="col-md-4">
                {#<img src="{{asset('img/les-noces.jpg')}}" alt="les-noces" id="les-noces">#}
                <p>Ici il y aura une image</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>Nouveau Contenu</h1>
            </div>
        </div>
      
    </div>
{% endblock musee_body %}