{% extends "base.html.twig" %}

{% block title %}
    Acheter un billet -  {{ parent() }} 
{% endblock title %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Ici sera le formulaire</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
            <h3>Partie demande Reservation</h3>
                <hr>
            </div>
            <div class="col-md-12">
                {{form_start(reservationForm)}}
                {{form_row(reservationForm.email)}}
                {{form_row(reservationForm.date_visite)}}
                {{form_row(reservationForm.type_billet)}}
                {{form_row(reservationForm.quantite)}}
                {{form_end(reservationForm)}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h3>Partie Achat Billet</h3>
                <hr>
            </div>
            <div class="col-md-12">
                {{ form_start(billetsForm) }}
                {{ form_row(billetsForm.nom)}}
                {{ form_row(billetsForm.prenom)}}
                {{ form_row(billetsForm.birthday)}}
                {{ form_row(billetsForm.reduced)}}
                {{ form_end(billetsForm) }}
            </div>
        </div>
    </div>
{% endblock body %}