{% extends "base.html.twig" %}

{% block title %}
    Acheter un billet -  {{ parent() }} 
{% endblock title %}

{% block musee_body %}
    <div class="container mt-4">
        <div class="row">
            {% for message in app.flashes('success') %}
                <div class="col-md-12 mx-auto alert alert-success">
                    {{message}}
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h1 class="text-center">Billeterie</h1>
            </div>
        </div>


        <hr>

        {{form_start(form)}}

        <div class="row">
            <div class="col-md-12 mx-auto">
                {{form_errors(form)}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mx-auto">
                {{form_row(form.dateVisite)}}
            </div>
            <div class="col-md-4 mx-auto">
                {{form_row(form.type)}}
            </div>
            <div class="col-md-4 mx-auto">
                <label for="quantite">Nombre de réservations</label>
                    <div class="input-group">
                        <select class="custom-select" id="compteur" required>
                            <option value="">Nombres de billets souhaités</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                </div>
            </div>
        </div>
        
        <div class="row mt-4">
            <div class="col-md-12 mx-auto">
                <p class="text-center btn btn-secondary" id="ajouter">Remplir les reservations</p>
            </div>
        </div>
        
        <hr>
        
        <div class="row">
            <div class="col-md-12">
                {{form_row(form.billets)}}
            </div>
        </div>

        
        <div class="row" id="recap">
            <div class="col-md-12 text-right">
                {{form_row(form.save)}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mx-auto">
                    {{form_end(form)}}
            </div>
        </div>
       
    </div>
    
    {% endblock musee_body %}
    {% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
        let $container = $('#reservation_billets');
                
      // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
      let index = $container.find(':input').length;

      let compteur = $('#compteur');
      let recap = $('#recap');
      recap.hide();
      // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
      $('#ajouter').click(function(e) {
          if(compteur.val() <= 0) {
              $('#ajouter').show();
          }
          else {
              $('#recap').show();
              $('#ajouter').hide();
          }
        let nbBillets = compteur.val();
        for(let i = 0; i < nbBillets ; i ++){
            addReservation($container);
        }
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL

        return false;
      });
    
      function addReservation($container) {
        var template = $container.attr('data-prototype')
          .replace(/__name__label__/g, 'Billet n°' + (index+1))
          .replace(/__name__/g, index)
        ;
  
        var $prototype = $(template);
        $container.append($prototype);
        index++;
      }
    });
    </script> 
    {% endblock javascripts %}