{% extends "base.html.twig" %}

{% block title %}
    Récapitulatif - {{ parent() }}    
{% endblock title %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/stripe.css') }}">
{% endblock stylesheets %}

{% block musee_body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Récapitulatif de votre commande</h1>
            </div>
        </div>
        
        <hr>

        <div class="row mt-4">
            <div class="col-md-4 text-center">
                <h4>Billet commandé le :</h4>
                <p>{{reservation.date|date("d/m/Y")}}</p>
            </div>
            <div class="col-md-4 text-center">
                <h4>Pour une visite prévue le :</h4>
                <p>{{reservation.dateVisite|date("d/m/Y")}}</p>
            </div>
            <div class="col-md-4 text-center">
                <h4>Nombre de réservation :</h4>
                <p> {{reservation.getTotalBillets}} </p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12 text-center mb-4">
                <h1>Vos billets</h1>
            </div>
        </div>

        

        <div class="row">

        <table class="table table-striped table-dark">
                <thead>
                  <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Date de visite</th>
                    <th scope="col">Reduction</th>
                    <th scope="col">Prix</th>
                  </tr>
                </thead>
                <tbody>
                    {% for billet in reservation.billets %}
                    <tr>
                      <td>{{billet.prenom}}</td>
                      <td>{{billet.nom}}</td>
                      <td>{{billet.naissance|date("d/m/Y")}}</td>
                      <td>{{reservation.dateVisite|date("d/m/Y")}}</td>
                      <td>{% if billet.reduction %}Oui{% else %}Non{% endif %}</td>
                      <td>{{billet.prix}} €</td>
                    </tr>                        
                    {% endfor %}
                </tbody>
              </table>
            </div>


        <hr>

        
        <div class="row">
            <div class="col-md-12 d-flex flex-column justify-content-end align-items-end">
                <div class="cout-total">
                    <h3>Coût total :</h3>
                    <h4 class="text-right"> {{totalPrix}} €</h4>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <h3>Pour valider le paiement, merci d'insérer vos coordonnées ci dessous :</h3>
            </div>
            <div class="col-md-12">
                <form action="{{path('charge')}}" method="post" id="payment-form">
                    <div class="form">
                        <label for="email">Votre email</label>
                        <div id="email" class=""><input type="email" name="email"></div>
                        <label for="card-element" class="">
                            Votre carte bancaire
                        </label>
                        <div id="card-element" class="">
                            <!-- A Stripe Element will be inserted here. -->
                        </div>
                        
                        <!-- Used to display form errors. -->
                        <div id="card-errors" role="alert" class=""></div>
                    </div>
                    
                    <button>Payer</button>
                </form>
            </div>
        </div>


        {{ parent() }}
</div>
{% endblock musee_body %}
{% block javascripts %}
{{ parent() }}
<script src="{{asset('js/stripe.js')}}"></script>
{% endblock javascripts%}